%h4 Q. ホームの表示がおかしい（折れ線グラフが表示されない）のですが？
%p A. Internet Explorer 6 ではホームの折れ線グラフ画像が表示されず、数字だけ表示されてしまいます。IE7、Firefoxなどを利用してください。

%h4 Q. 残高はどうやってみるの？
%p A. 口座別出納で、見たい口座を選ぶと、その口座の残高の推移をみることができます。

%h4 Q. 仕訳帳の「残高」タブはなんですか？
%p A. 残高を記入するためのものです。ある日、その口座に幾ら残高があったという事実を登録することで、不明金の計算を自動的にしてくれて、残高あわせのために自分で不明金を入れる必要がありません。また、初期口座残高設定も兼ねています。（必ずしも最初に残高をいれなくても、わかった時点でいれればさかのぼって計算されます。）

%h4 Q. グラフが表示されません
%p A. パーセント計算をしたときに1%以上になる項目が２つ以上ないと表示されない仕様となっています。一種類の数字しかなかったり、１つが極端に金額が大きいと表示できないということになります。
