<div class="description">
  <h3>家計簿</h3>
  <div class="paragraph">
    <h4>仕訳帳</h4>
    <p>基本画面です。家計簿への記入が行え、月ごとの全データを一覧できます。</p>
    <h4>口座別出納</h4>
    <p class="example">"銀行に今幾らあるかな？"</p>
    <p>口座別の出納と残高の推移を確認できる画面です。残高の確認のほか、債権口座などでは、精算の照合などにも利用できます。</p>
    <h4>収支表</h4>
    <p class="example">"赤字？ 黒字？"</p>
    <p>月ごとの収支を確認できる画面です。同時に、各口座の増減状況が確認できます。<br/>お金のフロー（動き）をつかむための画面です。</p>
    <h4>資産表</h4>
    <p class="example">"総資産は幾ら？"</p>
    <p>指定した月末の総資産を確認できる画面です。資産のスナップショットを提供します。</p>
  </div>
  <a name="settlement">
  <h3>精算</h3>
  </a>
  <div class="paragraph">
    <h4>新しい精算</h4>
    <p class="example">"クレジットカードの買い物を楽に記入したい"</p>
	<p class="example">"カードの請求書がきたらきちんと対応しているか確認したい"</p>
	<p class="example"> "会社の交通費清算に使いたい"</p>
	<p>クレジットカードの精算、会社への立替経費精算などを管理するための機能です。好きな期間において、特定の債権・クレジットカード口座に対する貸し借りの取引から精算対象の取引を選び、精算データを作成することで、精算の取引（クレジットカードの決済、立替精算の入金など）を記録できます。「貸し」を精算するための精算データでは、立替経費依頼精算書またはcsvで内容を出力できます。<br />
	以前の精算ルールでは、取引１つ１つに精算取引を自動的に作っていましたが、精算結果の合計額があっているかを判断しにくかったため、より強力なこの精算の仕組みを作りました。精算データを紐づけた取引は、精算データを消すまで、金額の変更や削除ができなくなります。日付、摘要、相手先の口座・費目・収入内訳は変更できます。
	</p>
    <h4>一覧</h4>
	<p>精算データの一覧を表示します。※ページ切り替えや絞り込み機能は未実装です。</p>
    <h4>詳細</h4>
	<p>一覧から詳細を選ぶと、精算データの詳細が見られます。（表示の都合上メニューにもありますがメニューから選ぶ必要性はあまりないでしょう）</p>
  </div>
  <h3>設定</h3>
  <div class="paragraph">
    <h4>口座</h4>
    <p>銀行口座など、資産の内訳（お財布の種類）を設定します。<br/>新しいユーザーでは現金（通常は持ち歩く財布を意味しています）だけが設定されています。自由に追加してお使いください。並び順は、選択リストの順序に影響します。</p>
    <h4>費目</h4>
    <p>食費など、支出の内訳（お金の使い道）を設定します。
    <br/>新しいユーザーでは自動的に標準的な費目が設定されますが、自由に削除して再設定してください。並び順は、選択リストの順序に影響します。</p>
    <h4>収入内訳</h4>
    <p>給料など、収入の内訳（お金の入ってくる源の分類）を設定します。※設定、選択リストは同上です。</p>
    <h4>記入パターン</h4>
    <p>
      記入内容をパターンとして記憶しておき、再利用することができます。<br />
      記入内容は、記入時にパターン登録をするか、設定から新規登録することで登録できます。コードを登録すると、コードを使って呼び出すことができます。
    </p>
    <h4>プロフィール</h4>
    <p>パスワードを含むユーザー情報を変更できます。</p>
    <h4>カスタマイズ</h4>
    <p>ユーザーカラーと、仕訳帳のスクロールバーの高さを指定できます。ユーザーカラーは、一人の人間が複数の家計簿（「自分」と「家計」など）をつける場合に、どちらの家計簿か間違えにくくなるなどの利点があります。濃い目の色を設定されることをお奨めします。</p>
  </div>
  <h3>連携</h3>
  <div class="paragraph">
    <a name="friend">
    <h4>フレンド</h4>
    </a>
    <p class="example">"家族への貸し借り・立て替えを楽に記入したい" "親しき仲にも礼儀あり？！"</p>
    <p>小槌における「フレンド」とは、家計簿を一部連動させたい家族や友人のことを意味します。例えば妻の財布で夫の缶ビールを買った場合に、妻がおごってあげるなら交際費でおしまいですが、貸してあげたということならば、「夫」という名前の債権口座にビール代を妻が貯金したという形で表現します。このとき、妻が家計簿をつけても、夫の側で家計簿に付け忘れてしまうと、夫の側が把握している妻への借金と、妻の側が把握している夫へ貸しているお金がズレてしまい、家庭不和のもととなってしまいます。<br /><br />
    かといって、毎回、二人の家計簿にそれぞれ忘れずにつけるのは大変です。だからといって、一緒の家計簿をつけて食費で済ませてしまうと、貸し借りの情報が失われ、個人資産の管理ができないという困った事態になります。<br/><br />
    そこで、小槌は、妻の「夫」債権口座と、夫の「妻」債権口座を連動させ、それぞれへの出納をお互いに自動的に連携記入させることで、個人主義なラブラブ家計簿を実現します。お互いに今幾ら借りているかつねにわかるので、安らかな気持ちで立て替えしてあげられることでしょう。<br /><br />
    貸し借りのほか、支出と収入を紐付けることもできますし、１対多でも対応可能です（例：Ａの支出もＢの支出もＣの収入に連携する）。生活費を共通財産である銀行に入れるといった家族の用途や、知人間で共通出資するといったことを表現できます。<br /><br />
    フレンド設定をするには、フレンドになりたい相手のログイン名を知っている必要があり、まず申請をします。その後、相手にフレンド機能から、申請を承認してもらう必要があります。（※まだ自動で相手に通知が行かないので、お手数ですがご自分で申請承認をお願いしてください。）<br />
    また、記入の連動をするには、フレンド関係となった後で、取引連動設定（次章）を行う必要があります。<br /><br />
    フレンド関係となっても、承認された連携記入以外のデータがフレンドに公開されることはありません。
    </p>
    <h4>取引連動</h4>
    <p>フレンドのどの口座、費目、収入内訳とご自分のどの口座、費目、収入内訳とを関連づけたいのかを指定します。これを行うと、フレンドの項で説明した連携が可能になります。<br />
    連動したいフレンド側の口座名をあらかじめ教えてもらっておく必要があります。<br />
    （フレンドといえど、すべての口座名を公開したいとは限らないという考えのもと、名前を指定する方式を採用しています。）</p>
    <h4>受け皿</h4>
    <p class="example">"生活費は必ず某銀行に振り込まれるんだけど"</p>
    <p>取引連携で記入される場合に、入ってきたお金がどこに行くのかを指定することができます。例えば、"生活費" としてフレンド「夫」さんから「家計」ユーザーの「某銀行」口座にいつも入る場合、"生活費" の受け皿口座を「某銀行」にするとそのように設定できます。<br />
    受け皿で登録されたとおりでない場合があっても、仕訳帳から普通に変更できます。</p>
  </div>
  <h3>データ管理</h3>
  <div class="paragraph">
    <a name="export">
    <h4>エクスポート</h4>
    </a>
    <p>口座、費目、収入内訳、家計簿記入データ、精算データをXMLまたはCSVで出力します。フレンド、取引連携状態等はエクスポートされません。</p>
    <p>XMLのフォーマットは次のようになります。</p>
    <pre style="border:1px solid #888888; padding: 4px; margin-left: 20px;">
&lt;kozuchi version="0.16.7" timestamp="2009-05-21T14:27:07" user="yourname"&gt;

  &lt;!-- 口座リスト --&gt;
  &lt;assets&gt;
    &lt;!-- typeに口座種別、positionに並び順、idにシステム上の識別子、要素に口座名が入ります --&gt;
    &lt;asset type="cache" position="1" id="account1"&gt現金&lt;/asset&gt;
    ...
    ...
  &lt/assets&gt;

  &lt;!-- 費目リスト --&gt;
  &lt;expenses&gt;
    &lt;!-- positionに並び順、idにシステム上の識別子、要素に費目名が入ります --&gt;
    &lt;expense position="1" id="account2"&gt;食費&lt;/expense&gt;
    ...
    ...
  &lt;/expenses&gt;

  &lt;!-- 収入内訳リスト --&gt;
  &lt;incomes&gt;
    &lt;!-- positionに並び順、idにシステム上の識別子、要素に収入内訳名が入ります --&gt;
    &lt;income position="1" id="account2"&gt;食費&lt;/income&gt;
    ...
    ...
  &lt;/incomes&gt;

  &lt;!-- 記入データリスト --&gt;
  &lt;deals&gt;

    &lt;!-- １件の記入 --&gt;
    &lt;!-- dateに日付、confirmedに確認状態かどうか、positionに１日の中での記入順、idにシステム上の識別子が入ります --&gt;
    &lt;deal date="2009-05-15" confirmed=true" position="1" id="deal1" &gt;
      &lt;!-- 識別子'account1'の勘定（口座または費目または収入内訳）から識別子'account2'の勘定への800円の移動 --&gt;
      &lt;entries&gt;
        &lt;entry account="account1" summary="昼食">-800&lt;/entry&gt;
        &lt;entry account="account2" summary="昼食">800&lt;/entry&gt;
        &lt;!-- 精算と紐付いていれば entryのsettlement属性に精算の識別子が入ります --&gt;
      &lt;/entries&gt;
    &lt;/deal&gt;
    ...
    ...
    &lt;!-- 残高記入 （通常の記入と混在）--&gt;
    &lt;balance account="account23" date="2009-05-21" position="2" id="balance745"&gt;
      &lt;amount&gt;1300&lt;/amount&gt;
    &lt;/balance&gt;
    ...
    ...
  &lt;/deals&gt;

  &lt;!-- 精算リスト --&gt;
  &lt;settlements&gt;
    &lt;!-- １件の精算 --&gt;
    &lt;!-- accountに対象勘定識別子、idにこの精算のシステム内識別子 --&gt;
    &lt;settlement account="account24" id="settlement1"&gt;
      &lt;name&gt;カードXの精算&lt;/name&gt;
      &lt;description&gt;精算データの備考です&lt;/description&gt;
    &lt;/settlement&gt;
    ...
    ...
  &lt;/settlements&gt;
  
&lt;/kozuchi&gt;
    </pre>
    <p>CSVのフォーマットはファイル先頭から順に次のようになります。</p>
    <table style="margin-left:20px; border:1px solid #888888; padding: 4px;">
      <tr><th>行の種類</th><th>行のフォーマット</th></tr>
      <tr><td>先頭行</td><td>バージョン、出力日時、ユーザー</td></tr>
      <tr><td>口座行</td><td>asset,口座識別子,口座種別,並び順,口座名</td></tr>
      <tr><td>費目行</td><td>expense,費目識別子,,並び順,費目名</td></tr>
      <tr><td>収入内訳行</td><td>income,収入内訳識別子,,並び順,収入内訳名</td></tr>
      <tr><td>記入の開始行<br />（entryで始まる後続行とセット）</td><td>deal,記入識別子,日付,１日のなかでの記入順,確認状態</td></tr>
      <tr><td>記入の内容行（１勘定分）</td><td>entry,記入識別子,勘定識別子,精算識別子,自分が精算結果取引となっている精算識別子,金額,摘要</td></tr>
      <tr><td>残高記入行</td><td>balance,残高記入識別子,日付,１日のなかでの記入順,勘定識別子,金額</td></tr>
      <tr><td>精算行</td><td>settlement,精算識別子,勘定識別子,名前,備考</td></tr>
    </table>
  </div>
</div>