<% i = Iconv.new('SHIFT_JIS', 'UTF-8')%>
<% for entry in @settlement.target_entries %>
<%= entry.deal.date %>,<%= i.iconv entry.deal.summary%>,<%= i.iconv entry.another_account_entry.account.name %>,<%= entry.amount%>
<% end %>