    <%= render (:partial => "shared/calendar", :locals => {:year => @target_date[:year], :month => @target_date[:month]}) %>

    <div id="book">
      <%= render :partial => "profit_and_loss" %>
    </div>

    