<% content_for :head do %>
  <%= javascript_include_tag 'excanvas', 'excanvas-compressed', 'circle' %>
<% end %>
<%= render(:partial => "shared/calendar", :locals => {:year => @year, :month => @month, :url_method => :monthly_profit_and_loss_path}) %>

<div id="book">
  <%= render :partial => "profit_and_loss" %>
</div>


