<%= render(:partial => "shared/calendar", :locals => {year: @year, month: @month, switcher: true, data: {url_template: monthly_profit_and_loss_path(dummy_year_and_month)}}) %>

<div id="book">
  <%= render :partial => "profit_and_loss" %>
</div>


