  <div id="account_options">
  	<%= grouped_account_select "account_id", current_user.accounts, @account.id, "onChange" => "$('month_form').submit();", :tabindex => 1 %>
    <%# collection_select("account", "id", @accounts, :id, :name, {}, "onChange" => "$('month_form').submit();") %>
  </div>
