<div class="tabbuttons">
  <%= deal_tab '残高', {:action => 'new_balance_deal'}, current_caption, :tabindex => '20' %>
  <%= deal_tab '出金', {:action => 'new_creditor_general_deal'}, current_caption, :tabindex => '20' %>
  <%= deal_tab '入金', {:action => 'new_debtor_general_deal'}, current_caption, :tabindex => '20' %>
</div>