@charset "utf-8";


/* ============== 共通情報　=============== */
* {
  margin: 0;
  padding: 0;
}

/* 上下の margin に関する汎用部品 */
.top_box {
  margin-bottom: 8px;
}
.middle_box {
  margin: 8px 0px;
}
.bottom_box {
  margin-top: 8px;
}

/* 反転エリア */
#header, #header *, #user_and_today {
  background-color: darkgoldenrod;
  color: gold;
  font-weight: bold;
  padding: 4px;
}

/* 線で囲んだエリア */
#sidebar .menu {
  border: 2px solid darkgoldenrod;
  padding: 4px;
}

/* フォーム地 */
.tabsheet, .form_box {
  border: 2px solid darkgoldenrod;
  padding: 4px;
  background-color: gold;
}


/* general input fields padding */
input, select {
  padding: 0px 1px;
  font-size: 100%;
  margin: 4px;
}
option {
  font-size: 90%;
  padding: 2px;
}

/* number fields */
input.number, #datebox input, #deal_amount, #deal_balance {
  ime-mode:disabled;
  text-align: right;
}

/* text fields */
#deal_summary {
  ime-mode:active;
}


/* 大きな文字 */
span.large {
  font-size: 1.3em;
}

button, .button {
  white-space: nowrap;
  text-decoration: none;
  border: 4px outset goldenrod;
  background-color: goldenrod;
  color: black;
  font-weight: bold;
  padding: 1px 4px;
  font-size: 100%;
  margin: 4px;
}

.window {
  border: 1px dashed darkgoldenrod;
  margin-bottom: 16px;
  padding: 4px;
}

/* IE 対策 */
.scroll_inner_box {
  padding-right:1em;
}

.book {
  background-color: goldenrod;
  border: 1px solid darkgoldenrod;
  width:100%;
}

.book_header {
  background-color: goldenrod;
  border: 1px solid darkgoldenrod;
  width:100%;
}

.scroll_box {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  border-bottom: 1px solid darkgoldenrod;
}

/* 更新行ハイライト */
.book .updated_line td {
  background-color: pink;
}
.book td {
  padding: 2px;
  background-color: white;
}
.book_header th {
  padding: 2px;
  background-color: goldenrod;
  text-align: center;
}
th.scroll_space {
  width: 0.6em;
}

.number, .amount, .percentage {
  text-align:right;
}

td.percentage {
  width: 3em;
}

td.number, th.number {
  width: 20px;
}
td.amount, th.amount {
  width: 70px;
}

td.date, th.date {
  width: 80px;
}

td.action, th.action {
  width: 2.5em;
  text-align: center;
}

td.button_action, th.button_action {
  width: 5em;
  text-align: center;
}


td.account, th.account {
  width: 100px;
}

.balance_line td {
  color: blue;
}

td.summary {
  vertical-align: top;
}

/* マスタメンテナンステーブル */
table.masters {
  background-color: goldenrod;
  border: 1px solid darkgoldenrod;
  width:100%;
}

.masters td {
  border: 1px inset wheat;
  background-color: wheat;
  padding: 2px;
}

.masters th {
  border: 1px inset goldenrod;
  background-color: goldenrod;
  padding: 2px;
}


.tab, .selectedtab {
  margin-top: 4px;
/*  margin-bottom: 16px;*/
  font-weight: bold;
/*  height: 24px;*/
  padding : 2px 16px;
  border-top: 2px solid darkgoldenrod;
  border-left: 2px solid darkgoldenrod;
  border-right: 2px solid darkgoldenrod;
}

.selectedtab {
  background-color: gold;
}

.tab, .selectedtab {
  margin-top: 1em;
  margin-left: 2px;
  float: right;
}

.tabbuttons {
/*  float: right; */
/*  margin-top: -1.8em;*/
  height: 2.4em;
}

.automatic {
  color: blue;
}

.inner_table {
  vertical-align: top;
}

tr.unconfirmed td {
  color: gray;
}
span.system, span.system_button {
  background-color: gold;
}

/* ガイド欄 */
p.guide {
  border: 2px dotted darkgoldenrod;
  padding: 8px;
  margin: 4px;
  color: darkgoldenrod;
  background-color: white;
  line-height: 1.5em;
}
span.guide_title {
  font-weight: bold;
}

ul {
  padding-left: 16px;
}

.jump {
  width:2em;
  text-align: right;
}

input.readonly {
  background-color: floralwhite;
}

.system_button {
  border: 1px outset goldenrod; 
}
a.small_button, .action a {
  border: 1px outset goldenrod; 
  background-color: gold;
  color: gray;
  text-decoration: none;
}
.buttons_line {
  text-align: center;
}

/* ========== 固有情報　=============== */

/* ------- top level ------------*/
body {
  margin: 0px;
  padding: 0px;
}
#page {
  background-color: wheat;
  margin: 0px 4px;
  padding: 8px;
}
/* -------- header -------*/
#header {
  height: 2em;
  margin-bottom: 8px;
  border: 4px double darkgoldenrod;
}
#header_title {
  float: left;
}
#header_menu {
  float: right;
}
/* -------- sidebar -------*/
#sidebar {
  clear: both;
  float: left;
  width: 13%;
}

#sidebar .menu {
  white-space: nowrap;
  margin: 8px 0px;
  overflow: hidden;
}

/* -------- contents -------*/
#contents {
  float:right;
  width: 86%;
  padding-left: 4px;
}

/** カレンダー **/

#calendar * {
  color: black;
  font-weight: bold;
  text-align: left;
}

#calendar table {
  background-color: darkgoldenrod;
}

#calendar table tr td {
  width: 40px;
  padding: 0px 4px;
  background-color: goldenrod;
}

#calendar table tr td.selected_month {
  border: 4px inset gold;
  text-align: right;
  background-color: gold;
  color: black;
}

#calendar table tr td.selectable_month {
  border: 4px outset goldenrod;
  text-align: right;
  background-color: goldenrod;
  color: black;
}

/*　------ 入力欄  ------- */

/* 日付欄 */
#datebox {
  float: left;
  padding: 4px;
  background: gold;
  border-top: 2px solid darkgoldenrod;
  border-left: 2px solid darkgoldenrod;
  border-right: 2px solid darkgoldenrod;
}

/* ------ Ajax対象となるタブ（日付を含まない範囲） ---- */
#tabwindow {
}
.tabsheet {
  clear:both;
}

/*　------ メッセージ欄 ------- */
#notice {
  padding: 8px;
  background-color: gold;
}

#errors {
  padding: 8px;
  background-color: orange;
}

/* -------- footer -------*/
#footer {
  clear: both;
  margin-top: 16px;
  border-bottom:1px dashed darkgoldenrod;
  color:darkgoldenrod;
  text-align:right;
  font-size:small;
  padding-bottom:2px;
  padding-top:16px;
}
/* ================ 機能別 =================== */

/* ------ 口座別出納：口座選択欄 --------*/
#account_options {
  text-align: right;
}


/* 利益・損益のレポートエリア */
.result {
  white-space: nowrap;
  margin: 10px 100px;
  padding: 6px;
  border-top: 6px double darkgoldenrod;
  border-bottom: 6px double darkgoldenrod;
  text-align: center;
  font-weight: bold;
  font-size: 24px;  
}
.profit {
  color: darkgreen;
}

.loss {
  color: darkred;
}


