@charset "utf-8";


/* ============== 共通情報　=============== */

/* 上下の margin に関する汎用部品 */
.top_box {
  margin-bottom: 8px;
}
.middle_box {
  margin: 8px 0px;
}
.bottom_box {
  margin-top: 8px;
}

/* 選択可能エリア */
.clickable_text {
  border: 1px outset gold;
  background-color: lightyellow;
}

#user_and_today {
  background-color: indigo;
  color: white;
  font-weight: bold;
  padding: 4px;
}

/* 線で囲んだエリア */
#sidebar .side_menu {
  border: 0;
  background-color: #FFDDBC;
  padding: 4px;
}

/* フォーム地 */
.tabsheet, .form_box {
  border: 2px solid #ffffb2;
  padding: 4px;
  background-color: #ffffcc;
}

/* フォーム内テーブル */
.form_box table.form_fields th {
  text-align: left;
  vertical-align: top;
  padding-top: 1em;
  padding-bottom: 1em;
}

table.horizontal th, table.horizontal td {
  border-bottom: 2px solid #FFFFF9;
  padding-bottom: 4px;
}

/* number fields */
input.number, #datebox input, #deal_amount, #deal_balance {
  ime-mode:disabled;
  text-align: right;
}

/* text fields */
#deal_summary {
  ime-mode:active;
}



.window {
  border: 1px dashed darkgoldenrod;
  margin-bottom: 16px;
  padding: 4px;
}

/* IE 対策 */
.scroll_inner_box {
  padding-right:1em;
}

.book {
  background-color: #EFEFEF;
  border: 1px solid #d3d3d8;
/*  width:100%; */ /* all_media で指定 */
/*  width: 18em; */
}

.book_header {
  background-color: #EFEFEF;
  border: 1px solid #d3d3d8;
  /* width:100%; */ /* all_media で指定 */
}

.scroll_box {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  border-bottom: 1px solid darkgoldenrod;
}

/* 更新行ハイライト */
.book .updated_line td {
  background-color: pink;
}
.book td, .book tbody tr td {
  padding: 2px;
  background-color: white;
}
.book_header th, .book_header tbody tr th {
  padding: 2px;
  background-color: #efefef;
  text-align: center;
}
th.scroll_space {
  width: 0.6em;
}


td.action, th.action {
  width: 2.5em;
  text-align: center;
}

td.button_action, th.button_action {
  width: 5em;
  text-align: center;
}



.balance_line td {
  color: blue;
}

td.summary {
  vertical-align: top;
}

/* マスタメンテナンステーブル */
table.masters {
  background-color: #FFDDBC;
  border: 1px solid #FFDDBC;
  width:100%;
}

.masters td {
  border: 1px inset #fff2e5;
  background-color: #fff2e5;
  padding: 2px;
}

.masters th {
  border: 1px inset #FFDDBC;
  background-color: #FFDDBC;
  padding: 2px;
}


.tab, .selectedtab {
  margin-top: 4px;
/*  margin-bottom: 16px;*/
  font-weight: bold;
/*  height: 24px;*/
  padding : 2px 16px;
  border-top: 2px solid #FFFFB2;
  border-left: 2px solid #FFFFB2;
  border-right: 2px solid #FFFFB2;
}

.selectedtab {
  background-color: #FFFFCC;
  color: #ff7fbf;
}

.tab, .selectedtab {
  margin-top: 1em;
  margin-left: 2px;
  float: right;
}

.tabbuttons {
/*  float: right; */
/*  margin-top: -1.8em;*/
  height: 2.4em;
}

.automatic {
  color: blue;
}

.inner_table {
  vertical-align: top;
}

.graph {
  vertical-align: middle;
  text-align: center;
  border: 2px solid #D3D3D8;
  color: black;
  font-weight: bold;
  background-color: white;
}


tr.unconfirmed td, span.unconfirmed  {
  color: gray;
}
span.system, span.system_button {
  background-color: gold;
}

/* ガイド欄 */
p.guide {
  border: 4px dotted #FFDDBC;
  padding: 8px;
  margin: 4px;
  color: black;
  background-color: white;
  line-height: 1.5em;
}
span.guide_title {
  font-weight: bold;
}

ul {
  padding-left: 16px;
}

.jump {
  font-size: 80%;
  width:2em;
  text-align: right;
  white-space: nowrap;
}

.icon_to_deal {
  width: 16px;
  text-align :center;
  white-space: nowrap;
}
.icon_to_deal a {
  text-decoration: none;
  display: block;
}

input.readonly {
  background-color: floralwhite;
}

.system_button {
  border: 1px outset goldenrod; 
}
a.small_button, .action a {
  border: 1px outset #FFDDBC; 
  background-color: #FFDDBC;
  color: gray;
  text-decoration: none;
}
.buttons_line {
  text-align: center;
}

/* ========== 固有情報　=============== */

/* ------- top level ------------*/

/* -------- sidebar -------*/
#sidebar {
  clear: both;
  float: left;
  width: 13%;
}

.side_menu, .side_menu_current {
  white-space: nowrap;
  margin: 8px 0px;
  overflow: hidden;
  border: 0;
  padding: 4px;
  font-weight: bold;
}

.side_menu_current {
  background-color: #ffb7db;
  color: black;
}

/* -------- contents -------*/
#contents {
  float:right;
  width: 86%;
  padding-left: 4px;
}

#contents .title {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 4px;
}

/** カレンダー **/

#calendar * {
  color: black;
  font-weight: bold;
  text-align: left;
}

#calendar table {
  background-color: #FFDDBC;
}

#calendar table tr td {
  width: 40px;
  padding: 0px 4px;
  background-color: #FFDDBC;
}

#calendar table tr td.selected_month {
  border: 4px inset #ffb7db;
  text-align: right;
  background-color: #ffb7db;
  color: black;
}

#calendar table tr td.selectable_month {
  border: 4px outset #FFDDBC;
  text-align: right;
  background-color: #FFDDBC;
  color: black;
}

/*　------ 入力欄  ------- */

/* 日付欄 */
#datebox {
  float: left;
  padding: 4px;
  background: #FFFFCC;
  border-top: 2px solid #FFFFB2;
  border-left: 2px solid #FFFFB2;
  border-right: 2px solid #FFFFB2;
}

/* ------ Ajax対象となるタブ（日付を含まない範囲） ---- */
#tabwindow {
}
.tabsheet {
  clear:both;
}

/* ================ 機能別 =================== */

/* ------ 口座別出納：口座選択欄 --------*/
#account_options {
}
#account_options select {
}


/* 利益・損益のレポートエリア */
.result {
  white-space: nowrap;
  margin: 10px 100px;
  padding: 6px;
  border-top: 6px double #D3D3D8;
  border-bottom: 6px double #D3D3D8;
  text-align: center;
  font-weight: bold;
  font-size: 24px;  
}
.profit {
  color: darkgreen;
}

.loss {
  color: darkred;
}


.table_first {
}


/* ==== 貸借対照表 ==== */
table.balance_sheet {
  width: 100%;
}
table.balance_sheet tr td {
  width: 50%;
  vertical-align: top;
}
table.balance_sheet table.details {
  width: 100%;
  background-color: darkgoldenrod;
}
table.balance_sheet table.details th {
  background-color: goldenrod;
}
table.balance_sheet table.details td {
  background-color: white;
}


/* ==== ヘルプ用　======= */
div.description {
  border: 2px dotted darkgoldenrod;
  background-color: white;
  text-align: left;
  padding: 0.8em 1.2em;
}

.description p {
  margin-left: 1em;
}

div.paragraph {
  padding-left: 2em;
  margin: 1em;
}

h3 {
  color: darkgoldenrod;
}

h4 {
  margin: 0.5em 0.2em;
  border-bottom: 1px dotted goldenrod;
}

p.example {
  padding: 0.2em 0;
  font-style: italic;
  color: green;
  font-weight: bold;
}

p.deprecated {
  padding: 0.2em 0;
  color: red;
}

#money_counting {
  padding: 4px;
  border: 1px solid #ffee88;
  background-color: #ffffdd;
}
#money_counting .field {
  text-align: right;
  width: 150px;
  margin: 0 16px;
  float: left;
}
#money_counting .field input {
  text-align: right;
}
#deal_forms .entry div {
  float: left;
}
#deal_forms .errorExplanation {
  border: 1px solid orange;
  padding: 4px;
}
#deal_forms .errorExplanation h2 {
  font-size: 100%;
}
/* 精算 */
.book tbody tr.disabled td {
  background-color: #dddddd;
}
