@charset "utf-8";

body {
  background-color: wheat;
  margin: 0px 4px;
}

#login_title {
  background-color: darkgoldenrod;
  text-align: center;
  color: gold;
  padding-top: 10px;
  padding-bottom: 4px;
  font-size: 1.4em;
  vertical-align: middle;
}

#login_message {
  margin-top: 10px;
  text-align: center;
  color: darkgoldenrod;
  font-weight: bold;
}

h3 {
  text-align: center;
  margin-top: 1em;
}

.form-padding {
  text-align: center;
  margin: 16px;
}

.form-padding table {
  text-align: center;
  padding: 10%;
}

.prompt {
  width: 8em;
  text-align: left;
}
.value {
  width: 12em;
}
.value input {
  width: 12em;
}

.button-bar input {
  padding: 1px 4px;
  font-size: 100%;
  margin-top: 8px;
  width: 200px;
  border: 4px outset goldenrod;
  background-color: goldenrod;
  color:black;
  font-weight: bold;
}

div.description {
  text-align: left;
  padding: 1em 2em;
}

.description p {
  margin-left: 1em;
}

h4 {
  margin: 0.5em 0;
  border-bottom: 1px dotted goldenrod;
}


#login_field {
  text-align: center;
}
#login_field table tr td input {
  width: 8em;
}

#application_name {
  font-weight: bold;
  font-size: 1.8em;
}
#login_button {
  padding: 1px 4px;
  font-size: 100%;
  margin-top: 8px;
  width: 200px;
  border: 4px outset goldenrod;
  background-color: goldenrod;
  color:black;
  font-weight: bold;
}

#features {
  margin: 1em 6em;
  border: 2px dotted darkgoldenrod;
  background-color: white;
}
