@charset "utf-8";
* {
}
#page {
	background-color: #fffff9;
	margin-left: 8px;
	margin-bottom: 8px;
	padding: 1em;
}
#side {
	float: right;
	width: 40%;
}
#login_form, #news {
	border: 4px dotted #ffddbc;
	background-color: white;
	margin-bottom: 1em;
	padding: 0.5em;
}
#login_form div {
	text-align:center;
}
#news h2 {
	font-size: 120%;
	color: #fcbf7f;
	text-align: center;
}
#news h4 {
  color: #041A61;	
}
#news ul {
	padding-left: 4em;
}
#title {
	text-align: center;
}
#title h1 {
	font-size: 160%;
}
p {
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
#features {
	padding: 0.5em;
}
#features h2 {
	font-size: 120%;
}
#features h4 {
  margin: 0.5em 0;
  border-bottom: 4px dotted #ffddbc;
  width: 30%;
}
h4 {
 margin-top: 1em;
}
.error {
  color: #ff6347;	
}

