.user_password
  .form-group
    = label_tag :password, "パスワード"
    = password_field_tag :password, '', size: 30, class: 'form-control'
  .form-group
    = label_tag :password_confirmation, "パスワード（確認）"
    = password_field_tag :password_confirmation, '', size: 30, class: 'form-control'
