<div class="user_password">
	<p>
      <label>パスワード</label><br /><%= password_field_tag :password, '', :size => 30 %>
	</p>
	<p>
	  <label>パスワード（確認）</label><br/><%= password_field_tag :password_confirmation, '', :size => 30%>
	</p>
</div>                                                                          