= error_messages_for :user
.top_bottom
  .form_box
    = form_tag :action => 'update_password', :password_token => @password_token do
      = render 'password'
      .button-bar
        = submit_tag 'パスワード変更', :class => 'button'
      %p.guide ※新しいパスワードは次回ログイン時から有効となります。
