<%= error_messages_for :user %>
<div class="top_bottom">
  <div class="form_box">
    <%= form_tag :action => 'update_password', :password_token => @password_token do -%>
      <%= render 'password' %>
      <div class="button-bar">
        <%= submit_tag 'パスワード変更', :class => 'button'%>
      </div>
      <p class="guide">※新しいパスワードは次回ログイン時から有効となります。</p>
    <% end -%>
  </div>
</div>