.container-fluid
  = error_messages_for :user
  .row
    .col-md-4
      = form_tag :action => 'update_password', :password_token => @password_token do
        = render 'password'
        .form-group
          = submit_tag 'パスワード変更', class: %w(btn btn-primary)
  %p ※新しいパスワードは次回ログイン時から有効となります。
