<%= focus_on 'email' %>
<div class="form">
  <h3>パスワードを忘れたとき</h3>

  <div class="form-padding">
    <p>パスワード変更ができる画面へのURLをご案内します。</p>

    <% form_tag forgot_password_path do  -%>
      <label>Eメールアドレス: <%= text_field_tag "email", '', "size" => 30 %></label>
      <div class="button-bar">
        <%= submit_tag 'パスワード変更を希望する', :onclick => "if ($F('email')=='') {alert('Eメールアドレスを入力してください。'); return false;}" %>
      </div>
    <% end -%>
	<p><%= link_to ('キャンセル', '/' ) %></p>
  </div>
</div>
