<%= focus_on 'email' %>
<div class="form">

  <div class="form-padding">
    <p>登録されたEメールアドレスを入力してください。パスワード変更ができる画面へのURLをご案内します。</p>
    <% unless flash[:error].blank? %>
	  <p class="error"><%= flash[:error] %></p>
	<% end %>
    <% form_tag deliver_password_notification_path do  -%>
      <p><label>Eメールアドレス: <%= text_field_tag "email", '', "size" => 30 %></label></p>
	  <p><%= submit_tag 'パスワード変更を希望する', :onclick => "if ($F('email')=='') {alert('Eメールアドレスを入力してください。'); return false;}" %></p>
    <% end -%>
  </div>
</div>
