<%# locals として year, month を必要とする。objectが指定されていれば部分テンプレートとして挿入する。 %>
<div id="calendar_form">

    <!-- カレンダー -->
    <div id="calendar" class="top_box">
    </div>

    <% form_tag({:action => 'change_month'}, :method => 'get', :id => 'month_form') do %>
      <% if calendar %>
        <%= render :partial => calendar %>
      <% end %>
      <input type="hidden" id="calendar_year" name="year" value="<%= year %>" />
      <input type="hidden" id="calendar_month" name="month" value="<%= month %>" />
    <% end %>

<%= javascript_tag <<-END
      select_month(#{year},#{month}, false);
END
%>
</div>    
