%h4 マルチユーザー機能
%p 複数ユーザー間での貸し借り、出資などマルチユーザー機能が充実。たとえば共働き家庭で家計・個人の両方を分離しつつ連動させたいなどのニーズに応えます。

%h4 ユーザーフレンドリーな残高処理
%p いつでも気楽に残高を入力できます。不明金は自動計算されるのでいちいち数字合わせの必要がありません。また、初期残高も自動計算されます。

%h4 強力な精算機能
%p クレジットカードや会社立替の精算を強力にサポートします。

%h4 入力支援
%p 摘要入力すると候補が表示されます。特定区間の交通費や同じ定食屋の昼食といった同じパターンの記入が簡単にできます。

%h4 自由な設定
%p ユーザーのニーズにあわせて、口座、費目、収入内訳をはじめ様々な項目を自由に設定できます。
