<!-- 通信欄-->
<% if flash[:notice].present? %>
  <div id="notice"><%= flash[:notice]%></div>
<% end %>
<% if flash[:errors].present? %>
  <div id="errors" class="middle_box">
  <% if flash[:errors].size > 1%>
    <div>エラーがありました。ご確認ください。</div>
    <ul>
    <% for error_message in flash[:errors] %>
      <li><%= error_message%></li>
    <% end %>
    </ul>
  <% else %>
    <div><%= flash[:errors][0] %></div>
  <% end %>
  </div>
<% end %>
