<p>今月の支出：<%= number_with_delimiter @monthly_expense %></p>
<%= javascript_line_chart([@expenses_item], :width => 400, :height => 200, :canvas_id => 'expense_summary_graph', :x => @months, :gbackgroundColor => "'#ffe5f2'") %>
