    <p>今月の支出：<%= number_with_delimiter @monthly_expense %></p>
    <%= html5jp_line_graph([@expenses_item], :width => 400, :height => 200, :canvas_id => 'expense_summary_graph', :x => @months_for_expenses, :gbackgroundColor => "'#ffe5f2'") %>
    <div style="text-align:right"><%= link_to '詳しくみる', :controller => 'profit_and_loss', :action => 'index' %></div>
