<% unless flash[:notice].blank? %>
  <%= flash[:notice] %>
<% end %>
<p><%= request.user_agent %></p>
<div>
  <% if request.mobile.docomo? %>
    <%= docomo_utn_button_to "簡単ログインを設定する", hash_for_mobile_path, :method => :put %>
  <% else %>
    not docomo
    <%= button_to "簡単ログインを設定する", mobile_path, :method => :put %><br />
  <% end %>

</div>