<div id="side">
<div class="box"">
  <h2>お知らせ</h2>
  <p>お知らせはありません。</p>
</div>
<div class="box">
	<h2>あなたの資産</h2>
</div>
</div>

<div id="main">

<div>
	<%= large_menu_button_to '仕訳帳', :controller => 'deals', :action => 'index' %>
	<%= large_menu_button_to '精算', :controller => 'settlements', :action => 'index' %>
	<div style="clear:left;"></div>
</div>
</div>

<!--
<div class="memo">
　　<h3>ようこそWeb家計簿 "小槌"へ！</h3>
  <p>楽しく家計簿をつけて節約しちゃいましょう！</p>
  <div style="margin:1em;">
    <%= link_to '家計簿へ', :controller => 'deals', :action => 'index' %> | 
    <%= link_to 'ログアウト', logout_path %>
  </div>
  <br />
  <div id="features">
  </div>
</div>
-->