<% unless flash[:notice].blank? %>
  <%= flash[:notice] %>
<% end %>
<% if @mobile_login_available %>
  <div>
    <% if request.mobile.docomo? && request.mobile.ident.blank? %>
      <%= docomo_utn_button_to "簡単ログインを設定", hash_for_mobile_path, :method => :put %>
    <% else %>
      <%= button_to "簡単ログインを設定", mobile_path, :method => :put %><br />
    <% end %>
  </div>
<% end %>
<% unless current_user.mobile_identity.blank? %>
  <%= button_to "簡単ログイン設定の削除", confirm_destroy_mobile_path, :method => :get %>
<% end %>