* {
    margin:0;
    padding:0;
}

/* ユーザー登録、welcomeでのみ使っている */
#title {
	margin-bottom: 1em;

  h1 {
    text-align: center;
    font-size: 160%;
    border-bottom: 4px double #041A61;
  }
}


#page {
    background-color: #fffff9;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 1em;
}

#side {
    float: right;
    width: 38%;
}

/* -------- header -------*/
#header {
    height: 2em;
    margin-bottom: 8px;
}
/* 反転エリア */
#header, #header * {
    color: #041A61;
    font-weight: bold;
    padding: 4px;
}

#home_icon {
    margin: 0;
    padding: 0;
    float:left;
}
#home_icon img {
    padding: 0;
    margin: 0;
    height: 2em;
    width: 2em;
}
#header_title {
    float: left;
}
#header_menu {
    float: right;
}
#header_menu .current {
    color: #ff7fbf;
}

/* 大きな文字 */
span.large {
    font-size: 1.3em;
}
.box {
    border: 4px dotted #ffddbc;
    background-color: white;
    margin-bottom: 1em;
    padding: 1em;
}
.box h2 {
    font-size: 120%;
    color: #fcbf7f;
    text-align: center;
}
.navigation {
    text-align: right;
    margin-bottom: 1em;
}

h1 {
    color: #041A61;
}

p {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.strong {
    color: #ff6347;
}

/* general input fields padding */

/*
input, select {
    padding: 0px 1px;
    font-size: 100%;
    margin: 4px;
}
*/
select {
}

option {
    font-size: 100%;
    padding: 2px;
}


/*　------ メッセージ欄 ------- */
#notice {
    padding: 8px;
    background-color: gold;
    margin-bottom: 4px;
}

#errors {
    padding: 8px;
    background-color: orange;
}

#errorExplanation h2 {
  border: 0;
}

/* ------ ボタン ---------- */
button, input.button, td.button input, a.button {
    white-space: nowrap;
    text-decoration: none;
    border: 4px outset #FFDDBC;
    background-color: #FFDDBC;
    color: black;
    font-weight: bold;
    padding: 1px 4px;
    font-size: 100%;
    margin: 4px;
}

/* ----- simple form ----- */
table.simple_form th {
    text-align: right;
    color: #041A61;
    padding-right: 4px;
}
table.simple_form .operation {
    text-align: center;
}

/* -------- footer -------*/
#footer {
    clear: both;
    margin-top: 16px;
    border-bottom:1px dashed #041A61;
    color: #041A61;
    text-align:right;
    font-size:small;
    padding-bottom:2px;
    padding-top:16px;
}

.information {
    margin: 1em 6em;
    border: 2px dotted darkgoldenrod;
    background-color: #fff0f5;
    padding: 1em 2em;
    text-align: left;
}
.information h3 {
    margin-top: 0;
    text-align: center;
}
.information h4 {
    color: lightcoral;
}
.information ul {
    padding-left: 1em;
}
.error, .errorExplanation {
    color: #ff6347;
}
.warning {
    color: #ff6347;
}
.errorExplanation h2 {
    font-size: 120%;
}
.errorExplanation ul {
    padding-left: 4em;
}

/* line form style */
.flatField {
    float:left;
    padding: 8px 0;
    height: 30px;
    line-height: 32px;
}
.flatField .button {
    margin: 0;
}
.clearFlat {
    clear:left;
}
/* operation link line */
div.operation {
    text-align: right;
}
div.operation a {
    text-decoration: none;
    color: #886644;
    font-size: 90%;
}

#singleLogins {
    margin-bottom: 20px;
}

a.singleLoginButton {
    float:right;
    display: block;
    background-color: #444488;
    border: 2px outset #444488;
    color: white;
    text-decoration: none;
    padding: 0px 8px 0px 8px;
    width: 140px;
    text-align: center;
    margin: 0px 4px;
}
a.returnToOriginal {
    background-color: #884444;
    border: 2px outset #884444;
}
div.side_box {
  border: 1px solid #D3D3D8;

  h4 {
    font-size: 11px;
    text-align: center;
    border: none;
    background-color: #EFEFEF;
    margin: 0;
  }
}
div.inline_guide {
  color:#888888;
  font-size: 11px;
  text-align: center;
}

td.account_deals_link {
  width: 18px;
  background-color: #000000;
  text-align: center;

  a {
    color: #00a960;
    font-weight: bold;
    display: block;
    text-decoration: none;
    white-space: nowrap;
  }
}

td.icon_to_deal {
  width: 18px;
  background-color: #000000;
  text-align: center;

  a {
    color: #26499d;
    font-weight: bold;
    display: block;
    text-decoration: none;
    white-space: nowrap;
  }
}

.side_nav {
  a.btn {
    width: 100%;
    margin-bottom: 4px;
  }
}

#simple_main {
  float:left;
  width: 88%;
}

#simple_right {
  float:right;
  width: 12%;

  .btn {
    width: 100%;
    margin-bottom: 4px;
  }
}

.account-memo {
  font-size: 11px;
  width: 140px;
  text-align: left;
  position: absolute;
  top: 0px;
  left: -50px;
  z-index: 100;
  padding: 4px;
  background-color: #FFFFCC;
  color: #000000;
  border: 1px solid #FFDDBC;
  display: none;
}
