<h2><%= @date == Date.today ? '今日' : @date.to_s(:db) %>の支出</h2>
<% if @expenses.empty? %>
  <p>記入なし</p>
<% else %>
<table class="simple">
  <% sum = 0 %>
  <% for expense in @expenses %>
  <tr>
    <th><%= h expense.name %></th>
    <td class="amount"><%= sum += expense.flow; expense.flow %></td>
  </tr>
  <% end %>
  <tr class="firstSummary">
    <th>計</th><td class="amount"><%= sum %></td>
  </tr>
</table>
<% end %>