        <div>
          <%= amount_field_proc.call(tab_index+=1) %>
        </div>
        <div>円</div>

        <div>
          <%= creditor_account_field_proc.call(tab_index+=1) %>
        </div>

        <div>→</div>

        <div>
          <%= debtor_account_field_proc.call(tab_index+=1) %>
        </div>
