- @deal.modify_errors_for_simple_form
= deal_form '明細', url: {action: :create_general_deal} do |f|
  = render partial: 'general_deal_form_contents', locals: {f: f, pattern_update_area: '#deal_forms'}
= error_messages_for :deal
