<div class="user_edit">
  <table>
    <%= form_input changeable(user, "lastname"), "姓","lastname" %>
    <%= form_input changeable(user, "firstname"), "名", "firstname" %>
    <%= form_input changeable(user, "login"), "ログインID", "login", :size => 30 %>
    <%= form_input changeable(user, "email"), "Eメールアドレス", "email" %>
    <% if submit %>
      <%= form_input :submit_button, (user.new_record? ? '登録' : '変更'), :class => 'two_columns' %>
    <% end %>
  </table>
</div>
