<%= error_messages_for 'account' %>

<!--[form:account]-->
<p><label for="account_name">Name</label><br/>
<%= text_field 'account', 'name'  %></p>

<p><label for="account_account_type">Account type</label><br/>
<%= text_field 'account', 'account_type'  %></p>
<!--[eoform:account]-->

