<%= render(:partial => 'shared/information')%>
<div class="top_bottom">
  <div class="form_box">
    <% start_form_tag :action => 'change_password' do %>
      <%= render_partial 'password', :user => @user, :submit => false %>
      <div class="button-bar">
        <%= submit_tag 'パスワード変更', :class => 'button'%>
      </div>
      <p class="guide">※新しいパスワードは次回ログイン時から有効となります。</p>
    <% end %>
  </div>
</div>