<div class="form">
  <h3>パスワードを忘れたとき</h3>

  <%= error_messages_for 'user' %>

  <div class="form-padding">
    <p>Eメールアドレスを入力してパスワード再発行を押すと新しいパスワードを受け取ることができます。</p>

    <%= start_form_tag_helper %>
      <label>Eメールアドレス:</label> <%= text_field("user", "email", "size" => 30) %>

      <div class="button-bar">
        <%= submit_tag 'パスワード再発行' %>
        <%= link_to ('キャンセル', :controller => 'user', :action => 'login') %>
      </div>
    <%= end_form_tag %>
  </div>
</div>
