<div class="deal_pattern">
  <%= link_to truncate(deal_pattern.to_s, :length => 11), settings_deal_pattern_path(deal_pattern) %>
  <div style="text-align:right; font-size: 12px; line-height: 14px;">[ <%= link_to '編集', settings_deal_pattern_path(deal_pattern) %> ]</div>
</div>
