<% recent_deal_patterns = current_user.deal_patterns.recent.all %>
<% unless recent_deal_patterns.empty? %>
  <!-- recent deal patterns -->
  <div id="recent_deal_patterns">
    <%= render :partial => 'shared/deal_patterns/deal_pattern', :collection => recent_deal_patterns %>
  </div>
  <%= javascript_tag do %>
    jQuery(document).ready(function($){
      $('a.new_deal_with_pattern_link').click(function() {
        $('#notice').hide()
        $('#deal_forms').load(this.href)
        return false
      })
    })
  <% end %>
<% end %>
