@charset "utf-8";

#page {
 background-color:#eeeeee;
}

#header_menu {
  text-align: right;
  padding: 2px;
  background-color: #aaaaaa;
  color: #eeeeee;
}
#header_menu a {
  color: #eeeeee;
  margin: 4px;
}
#sidebar {
  text-align: center;
  padding: 2px;
  background-color: #eeeee;
  color: gray;
}
#sidebar a {
  margin: 4px;
  color: gray;
}
#title {
  padding: 2px;
  color: yellow;
  font-weight: bold;
}
