
#calendar * {
  color: black;
  font-weight: bold;
  text-align: left;
}

#calendar table {
  background-color: #FFDDBC;
  border-collapse: collapse;
}

#calendar table tr td {
  padding: 0px 0px;
  background-color: #FFDDBC;
}

#calendar table tr td.even_year {
  border-top: solid 1px #CCDDBC;
  border-bottom: outset 1px #88aa88;
  border-left: outset 1px #88aa88;
  border-right: outset 1px #88aa88;
}
#calendar table tr td.odd_year {
  border-top: solid 1px #FFDDBC;
  border-bottom: outset 1px #aa8888;
  border-left: outset 1px #aa8888;
  border-right: outset 1px #aa8888;
}
#calendar table tr td.year {
  padding: 0px 2px;
  text-align: center;
}

#calendar table tr td div {
  padding: 0px 2px;
  text-align: right;
  color: black;
  width: 48px;
}

#calendar table tr td.selected_month div {
  border: 2px inset #ffb7db;
  background-color: #ffb7db;
}

#calendar .selectable_month a {
  display:block;
  text-decoration:none;
  text-align:right;
}


#calendar table tr td.selectable_month div {
  border: 2px outset #FFDDBC;
  background-color: #FFDDBC;
}
#calendar table tr td.selectable_month div.even_year {
  border: 2px outset #CCDDBC;
  background-color: #CCDDBC;
}

#calendar #prev_year, #calendar #next_year {
  padding: 0px 4px;
  cursor:pointer;
  border: 2px outset #FFDDBC;
}

#calendar .even_year, #calendar .even_year a {
  background-color: #CCDDBC;
}