/* should be moved to common, etc */
div.side_box {
  border: 1px solid #D3D3D8;

  h4 {
    font-size: 11px;
    text-align: center;
    border: none;
    background-color: #EFEFEF;
    margin: 0;
  }
}

div#recent_deal_patterns {
  margin-top: 10px;

  .deal_pattern {
    padding: 2px;

    a {
      color: #6a5acd;
    }
  }
}