@charset "utf-8";

/* ===============  印刷用スタイルシート ======================= */

/* 共通部品 */

table.book_header {
  border-collapse: collapse;
  border-bottom: 4px double black;
}
table.book_header th {
  border: 1px solid black;
}

table.book {
  border-collapse: collapse;
}
table.book td {
  border: 1px solid black;
}
table.book th {
  border: 1px solid black;
}

.action {
  display: none;
}


/* 特定部品 */

#contents .title {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 4px;
}

div#header {
  display: none;
}

div#sidebar {
  display: none;
}

div#calendar_form {
  display: none;
}

div#edit_box {
  display: none;
}

#footer {
  margin-top: 16px;
  text-align:right;
  font-size:small;
  padding-bottom:2px;
  padding-top:16px;
}

