$accent_color: #10c010;
$accent_dark_color: #39A34E; // #10b010;
$accent_very_dark_color: #098531; //#009000;

$main_color: gold;
$main_dark_color: #cccc00;
$sub_color: #ff8e40;
$sub_dark_color: #8b0000;
$light_color: #fffff9;
