<%= @name %>様

Web家計簿「小槌」のパスワード再設定方法をお知らせします。
（もしお申し込みいただいていない場合、第三者があなたのメールアドレスを
パスワード再設定フォームに指定したということになります。）

パスワード再設定ページへ進むには、以下のURLをクリックしてください。

<%= @url%>

ログインされたら、できるだけ早くパスワードを変更されることをお奨めします。
パスワードは上記URLのほか、基本設定＞プロフィールから変更できます。 
