<h2>記入パターン一覧</h2>
<div class="navigation">
  <%= link_to '新規登録', new_settings_deal_pattern_path %>
</div>
<div class="masters">
  <% if @deal_patterns.empty? %>
  <p>記入パターンは１つも登録されていません。</p>
  <% end %>
  <%= render :partial => 'deal_pattern', :collection => @deal_patterns %>
</div>
