<html>
  <head>
    <title><%= @title || controller.action_name %></title>
    <%= stylesheet_link_tag 'book' %>
  </head>
  <body>
    <!-- header -->
    <table width="100%" class="header">
      <tr class="header">
        <td class="title"><%= @title || controller.action_name %></td>
        <td align="center">小槌</td>
      </tr>
    </table> 
    
    <table>
      <tr>
        <td valign="top">
          <table class="menu">
            <tr>
              <td class="header">
                <%= session[:user].login_id %>さん<br />
                <%= Time.now.strftime('%Y/%m/%d') %>
              </td>
            </tr>
            <tr><td></td></tr>
            <tr>
              <td><%= link_to("ログアウト", :controller => "login", :action => "logout") %></td>
            </tr>
          </table>
        </td>
       <td width="100%">
         <!-- 通信欄-->
         <div><%=@flash[:notice] || ""%></div>
         <%= @content_for_layout %>
       </td>
      </tr>
    </table>
    <!-- footer -->
    <div class="footer">小槌 Ver.0.1.0 (c)2006 Yasuko Ohba All rights reserved.</div>
  </body>
</html>
