<html>
  <head>
    <title>
      <%= controller.title %> - <%= controller.menu_items[controller.action_name] || controller.action_name %> 
    </title>
    <%= stylesheet_link_tag 'book' %>
    <%= javascript_include_tag "prototype" %>
    <%= javascript_include_tag "book" %>
  </head>
  <body>
    <!-- header -->
    <div id="header">
      <div style="float:left;">
        <span id="title"><%= controller.title %></span>
        <span id="subtitle"> - <%= controller.menu_items[controller.action_name] || controller.action_name %></span>
      </div>
      <div id="menu">
        <% if controller.title != "家計簿" %>
          <%= link_to("家計簿", :controller => "book", :action => "deals") %>
        <% end %>
        <% if controller.title != "設定" %>
          <%= link_to("設定", :controller => "config", :action => "index") %>
        <% end %>
        <%= link_to("ログアウト", :controller => "login", :action => "logout") %>
      </div>
      <div class="clearboth"></div>
    </div>
    <div id="sidebar">
      <p class="info">
        <%= session[:user].login_id %>さん<br />
        <%= format_date(Time.now) %>
      </p>
      <!-- menu -->
      <div class="menu"><%= link_to(controller.menu_items["deals"], :action => "deals") %></div>
      <div class="menu"><%= link_to(controller.menu_items["account_deals"], :action => "account_deals") %></div>
      <div class="menu"><%= link_to(controller.menu_items["profit_and_loss"], :action => "profit_and_loss") %></div>
    </div>
    <!-- contents -->
    <div id="contents">
      <%= @content_for_layout %>
    </div>
    <!-- footer -->
    <%= render :partial => "shared/footer" %>
  </body>
</html>