<% html_tag do -%>

  <% head_tag 'home' do -%>
  	<title>[小槌] ホーム</title>
	<%= yield :head %>
  <% end -%>
  
  <% body_tag do -%>
    <div>
      <h1 class="mobile_title"><%= h current_user.login %>さんの家計簿<br />HOME</h1>
      <%= yield %>
    </div>
    
    <div><%= link_to "ログアウト", logout_path %></div>

  <% end -%>
<% end -%>