<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      <%= controller.title %> - <%= controller.menu_items[controller.action_name] || controller.action_name %> 
    </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'book' %>
    <%= javascript_include_tag "prototype" %>
    <%= javascript_include_tag "book" %>
  </head>
  <body>
    <div id="page">
    <!-- header -->
    <div id="header">
      <div id="header_title">
        <span class="large"><%= controller.title %></span>
        <span> - <%= controller.menu_items[controller.action_name] || controller.action_name %></span>
      </div>
      <div id="header_menu">
        <% if controller.title != "家計簿" %>
          <%= link_to("家計簿", :controller => "book", :action => "deals") %>
        <% end %>
        <% if controller.title != "設定" %>
          <%= link_to("設定", :controller => "config", :action => "index") %>
        <% end %>
        <%= link_to("ログアウト", :controller => "login", :action => "logout") %>
      </div>
      <div class="clearboth"></div>
    </div>
    <div id="sidebar">
      <div id="user_and_today">
        <%= session[:user].login_id %>さん<br />
        <%= format_date(Time.now) %>
      </div>
      <!-- menu -->
      <% controller.menu_items.each do |key, val| %>
        <div class="menu"><%= link_to(val, :controller => controller.name, :action => key) %></div>
      <% end %>
    </div>
    <!-- contents -->
    <div id="contents">
      <%= @content_for_layout %>
    </div>
    <!-- footer -->
    <%= render :partial => "shared/footer" %>
    </div>
  </body>
</html>